<?xml version="1.0"?>
<launch>
  <node name="dodo_rviz" pkg="rviz" type="rviz" output="screen"/>
  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch"/>
  <node name="dodo_detector_ros" pkg="dodo_detector_ros" type="detector.py" output="screen">
    <rosparam command="load" file="$(find dodo_detector_ros)/config/main_config.yaml"/>
  </node>
</launch>
